modules = ["web", "python-3.11", "nodejs-20", "bash"]
run = "python main.py"

[nix]
channel = "stable-24_05"
packages = ["openssl", "postgresql", "sqlite"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Run Dagster Server"
author = 42433692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dagit -h 0.0.0.0 -p 3000"

[[workflows.workflow]]
name = "Start Dagster"
author = 42433692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export DAGSTER_HOME=$(pwd)/dagster_home"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p $DAGSTER_HOME"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dagster-webserver -h 0.0.0.0 -p 3000"

[[workflows.workflow]]
name = "Debug Dagster Connection"
author = 42433692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export DAGSTER_HOME=$(pwd)/dagster_home"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p $DAGSTER_HOME"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Testing Dagster connectivity...\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -X POST http://localhost:3000/api/graphql -H \"Content-Type: application/json\" -d '{\"query\": \"{ repositoriesOrError { ... on RepositoryConnection { nodes { name } } } }\"}'"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"If you see a valid JSON response, Dagster is running and accessible.\""

[[workflows.workflow]]
name = "Start Dagster with Repository"
author = 42433692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export DAGSTER_HOME=$(pwd)/dagster_home"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p $DAGSTER_HOME"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cp dagster_pipelines.py $DAGSTER_HOME/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"from dagster_pipelines import ml_training_repository\" > $DAGSTER_HOME/workspace.yaml"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"load_from:\" >> $DAGSTER_HOME/workspace.yaml"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"  - python_file: dagster_pipelines.py\" >> $DAGSTER_HOME/workspace.yaml"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dagster-webserver -h 0.0.0.0 -p 3000 -w $DAGSTER_HOME/workspace.yaml"

[[workflows.workflow]]
name = "Test Dagster Connection"
author = 42433692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Testing Dagster connectivity...\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -X POST http://localhost:3000/graphql -H \"Content-Type: application/json\" -d '{\"query\": \"{ repositoriesOrError { ... on RepositoryConnection { nodes { name } } } }\"}'"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"If you see a valid JSON response with ml_training_repository, Dagster is running and accessible.\""

[[ports]]
localPort = 5000
externalPort = 80
